.header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 5rem;
  background-color: #8a2b06; 
  color: white;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 10%;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.25);
  z-index: 10;
}


.main-image {
  width: 100%;
  height: 18rem;
  z-index: 0;
  overflow: hidden;
}

.main-image img {
  width: 100%;
  height: 110%;
  object-fit: cover;
  /* transform: rotateZ(-5deg) translateY(-4rem) translateX(-1rem); */
}

.logo {
  font-size: 2rem;
  color: white;
}

.nav ul {
  list-style: none;
  display: flex;
  margin: 0;
  padding: 0;
  cursor: pointer;
  text-decoration: none;
}

.nav li {
  margin-left: 1.5rem;
  font-size: 1.25rem;
}


.nav a {
  text-decoration: none;
  color: #fff;
  
}

.nav a:hover,
.nav a:active,
.nav a.active {
  color: #e6fcfc;
}