.Books {
  max-width: 60rem;
  width: 90%;
  margin: 2rem auto;
  animation: Books-appear 1s ease-out forwards;
}

.BooksLoading {
  text-align: center;
  color: white;
}
.BooksError {
  text-align: center;
  color: red;
}

.Books ul {
  list-style: none;
  margin: 0;
  padding: 0;
}



@keyframes Books-appear {
  from {
    opacity: 0;
    transform: translateY(3rem);
  }

  to {
    opacity: 1;
    transform: translateY(0);
  }
}
