.actions {
    text-align: right;
  }
  
  .actions button {
    font: inherit;
    cursor: pointer;
    background-color: transparent;
    border: 1px solid #2c0d00;
    padding: 0.5rem 2rem;
    border-radius: 25px;
    margin-left: 1rem;
  }
  
  .actions button:hover,
  .actions button:active {
    background-color: #5a1a01;
    border-color: #5a1a01;
    color: white;
  }
  
  .actions .button--alt {
    color: #2c0d00;
  }
  
  .actions .button {
    background-color: #2c0d00;
    color: white;
  }

  .form {
    margin: auto;
    height: 20rem;
    width: 20rem;
    /* overflow: auto; */
    background-color: white;
    /* text-align: center; */
    padding: 1rem;;
    margin-top: 1rem;
    border-radius: 5px;
    
  }
  
  .control {
    margin-bottom: 0.5rem;
  }
  
  .control label {
    font-weight: bold;
    margin-bottom: 0.25rem;
    display: block;
  }
  
  .control input {
    font: inherit;
    border: 1px solid #ccc;
    border-radius: 4px;
    width: 20rem;
    max-width: 100%;
  }
  .control textarea {
    font: inherit;
    border: 1px solid #ccc;
    border-radius: 4px;
    width: 20rem;
    max-width: 100%;
    height: 6rem;
  }
  
  .actions {
    display: flex;
    justify-content: right;
    gap: 1rem;
  }
  
  .actions button {
    font: inherit;
    color: #5a1a01;
    cursor: pointer;
    background-color: transparent;
    border: none;
    border-radius: 25px;
    padding: 0.5rem 2rem;
  }
  
  .actions button:hover,
  .actions button:active {
    background-color: #ffe6dc;
  }
  
  .actions .submit {
    border: 1px solid #5a1a01;
    background-color: #5a1a01;
    color: white;
  }
  
  .actions .submit:hover,
  .actions .submit:active {
    background-color: #7a2706;
  }
  
  .invalid label {
    color: #ca3e51;
  }
  
  .invalid input {
    border-color: #aa0b20;
    background-color: #ffeff1;
  }

  .invalid textarea {
    border-color: #aa0b20;
    background-color: #ffeff1;
  }
  
  .para {
    font-size: 10px;
    color: red;
  }
  
  

  
  .success{
    color: green;
  }
  
  .error{
    color: red;
  }