.Books {
    max-width: 60rem;
    width: 90%;
    margin: 2rem auto;
    animation: Books-appear 1s ease-out forwards;
  }
  
  .BooksLoading {
    text-align: center;
    color: white;
  }
  .BooksError {
    text-align: center;
    color: red;
  }
  
  .Books ul {
    list-style: none;
    margin: 0;
    padding: 0;
  }
  
  
  .Book {
    display: flex;
    justify-content: center;
    margin: 1rem;
    padding-bottom: 1rem;
    border-bottom: 1px solid #ccc;
  }
  
  .Book h3 {
    margin: 0 0 0.25rem 0;
  }
  
  .description {
    font-style: italic;
    margin-top: 1rem;
  }
  
  .title {
    margin-top: 0.25rem;
    font-weight: bold;
    color: #ad5502;
    font-size: 1.25rem;
  }

  .editBtn{
    background-color: #4286BD;
    padding: 0.5rem 1rem 0.5rem 1rem;
    border-radius:10px;
    margin-right: 1rem;
    text-decoration:none;
    color:black;
    font-size: 15px;

  }
  .deleteBtn{
    background-color: #D11A2A;
    padding: 0.5rem 1rem 0.5rem 1rem;
    border-radius:10px;
    font-size: 15px;

  }

  .dltSuccess{
    text-align: center;
    background-color: lightgreen;
    padding: 0.5rem 1rem 0.5rem 1rem;
    border-radius:10px;
  }

  .dltError{
    text-align: center;
    background-color: lightcoral;
    padding: 0.5rem 1rem 0.5rem 1rem;
    border-radius:10px;
  }
  
  @keyframes Books-appear {
    from {
      opacity: 0;
      transform: translateY(3rem);
    }
  
    to {
      opacity: 1;
      transform: translateY(0);
    }
  }
  