
  .email {
    font-style: italic;
    margin-top: 1rem;
   
  }
  
  .name {
    margin-top: 0.25rem;
    font-weight: bold;
    color: #ad5502;
    font-size: 1.25rem;
   
  }

  

.collapsible .content {
    padding: 6px;
    background-color: #eeeeee;
}
.collapsible .header {
  justify-content: left;
  padding-top: 1rem;
  padding-bottom: 1rem;
  border-bottom: 1px solid #ccc;
    
}


.container {
  display: flex;                
  flex-direction: row;          
  flex-wrap: nowrap;             
  justify-content: space-between; 
  
}
.container > div {
  width: 300px;
}

.bname{
  margin-top: 0.25rem;
  font-weight: bold;
  color: #000;
  font-size: 1rem;
}

.showBooks{
  cursor: pointer;
}